<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="qa" value="..\dev-context-mcp-server\demo\data\nuget-repos\qa" />
    <add key="production" value="..\dev-context-mcp-server\demo\data\nuget-repos\prod" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="qa">
      <package pattern="Demo.Cities" />
    </packageSource>
    <packageSource key="production">
      <package pattern="OpenMeteo.Api.Client" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
